$rasaPurple: #5a1eee;

.headerLogo {
  width: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.githubLogo {
  width: 40px;
}

.headerText {
  font-weight: bold;
  color: white;
  line-height: 3rem;
}

.headerRight {
  float:right;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $rasaPurple;
    height: 3rem;
  }
  
  li {
    height: 3rem;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }